<div class="page-container">
    <div class="col-2 mx-auto">
        <h2 class="ml-30 d-flex align-items-center">Corporate Q&A <i class="ki ki-comment-dots ki-blue"></i></h2>
    </div>
    <div class="col-3 border border-radius-4 px-20 py-8 mx-auto mt-10 bg-white " *ngIf="isStatusLogin">
        <div class="mt-20">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label class="font-weight-bold d-flex justify-content-between">Username:
                        <span *ngFor="let validation of validationMessages.name">
                            <span class="text-danger font-weight-semi-bold"
                                *ngIf="loginForm.get('userName').hasError(validation.type) && (loginForm.get('userName').touched || loginForm.get('userName').dirty)">
                                {{validation.message}}
                            </span>
                        </span>
                    </label>
                    <input type="email" class="form-control input-md bg-white" formControlName="userName">
                </div>
                <div class="form-group">
                    <label class="font-weight-bold d-flex justify-content-between">Password:
                        <span *ngFor="let validation of validationMessages.password">
                            <span class="text-danger font-weight-semi-bold"
                                *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').touched || loginForm.get('password').dirty)">
                                {{validation.message}}</span>
                        </span>
                    </label>
                    <input type="password" class="form-control input-md bg-white" formControlName="password">
                </div>
                <div class="pt-4">
                    <button class="btn text-white bg-accent-violet w-100" type="submit"
                        >Login</button>
                </div>
            </form>
            <div>
                <p class="text-small ml-80 text-danger">{{validationMessage}}</p>
            </div>
        </div>
        <div class="mt-30 d-flex align-items-center clear-margin-x pl-32">
            <p class="text-small ml-60">Not a member?</p>
            <p class="text-small text-link ml-1" (click)="openSignUp()"><u>Sign up now</u></p>
        </div>
    </div>
    <div class="w-450 border border-radius-4 px-12 py-8 mx-auto mt-10 bg-white" *ngIf="isStatusSignUp">
        <div class="mt-10">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="d-flex">
                    <label for="image" class="cursor-pointer mx-auto">
                        <img [src]="imageUrl" alt="user-img" height="80px" width="80px" class="rounded-pill">
                    </label>
                    <input type="file" name="formFiles" id="image" (change)='onFileSelected($event)' hidden formControlName="profileImageUrl">
                </div>
                <div class="form-group clear-margin-y p-4">
                    <label class="font-weight-bold">Name:
                        <span *ngFor="let validation of validationMessages.name">
                            <span class="text-danger font-weight-semi-bold"
                                *ngIf="signUpForm.get('userName').hasError(validation.type) && (signUpForm.get('userName').touched || signUpForm.get('userName').dirty )">
                                {{validation.message}}</span>
                        </span>
                    </label>
                    <input type="text" class="form-control input-md bg-white" formControlName="userName">
                </div>
                <div class="form-group clear-margin-y p-4">
                    <label class="font-weight-bold">Email:
                        <span *ngFor="let validation of validationMessages.email">
                            <span class="text-danger font-weight-semi-bold w-100 ml-auto"
                                *ngIf="signUpForm.get('email').hasError(validation.type) && (signUpForm.get('email').touched || signUpForm.get('email').dirty)">
                                {{ validation.message}}
                            </span>
                        </span>
                    </label>
                    <input type="email" class="form-control input-md bg-white" formControlName="email">
                </div>
                <div class="clear-margin-y p-4 d-flex justify-content-between">
                    <div>
                        <label class="font-weight-bold d-flex justify-content-between">Password:
                            <span *ngFor="let validation of validationMessages.password">
                                <span class="text-danger font-weight-semi-bold"
                                    *ngIf="signUpForm.get('password').hasError(validation.type) && (signUpForm.get('password').touched || signUpForm.get('password').dirty)">
                                    {{validation.message}}
                                </span>
                            </span>
                        </label>
                        <input type="password" class="form-control w-200 bg-white" formControlName="password">
                        <span class="text-xx-small"
                            *ngIf="signUpForm.get('password').invalid && (signUpForm.get('password').touched || signUpForm.get('password').dirty)">
                            Password must be at least 8 characters long.
                        </span>
                    </div>
                    <div>
                        <label class="font-weight-bold d-flex justify-content-between">Confirm Password:
                        </label>
                        <input type="password" class="form-control w-200 bg-white" formControlName="confirmPassword">
                        <div *ngIf="this.signUpForm.get('password').value !== this.signUpForm.get('confirmPassword').value"
                            class="text-danger d-flex align-items-center">
                            Passwords do not match.
                            <i class="ki ki-error-filled ki-red"></i>
                        </div>
                    </div>
                </div>
                <div class="clear-margin-y p-4">
                    <label class="font-weight-bold">Mobile:
                        <span *ngFor="let validation of validationMessages.phoneNumber">
                            <span class="text-danger text-small font-weight-semi-bold"
                                *ngIf="signUpForm.get('phoneNumber').hasError(validation.type) && (signUpForm.get('phoneNumber').touched || signUpForm.get('phoneNumber').dirty)">
                                {{validation.message}}
                            </span>
                        </span>
                    </label>
                    <input type="number" class="form-control input-md bg-white" formControlName="phoneNumber">
                </div>
                <div class="clear-margin-y p-4 d-flex justify-content-between">
                    <div class="w-200">
                        <label class="font-weight-bold">Department:</label>
                        <span *ngFor="let validation of validationMessages.departmentId">
                            <span class="text-danger text-small font-weight-semi-bold"
                                *ngIf="signUpForm.get('departmentId').hasError(validation.type) && (signUpForm.get('departmentId').touched || signUpForm.get('departmentId').dirty)">
                                {{validation.message}}
                            </span>
                        </span>
                        <div class="ng-select mt-1">
                            <ng-select  bindLabel="name" formControlName="departmentId">
                                <ng-option [value]="list.id" *ngFor="let list of department" >
                                    {{list.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="w-200">
                        <label class="font-weight-bold">Designation:</label>
                        <span *ngFor="let validation of validationMessages.designationId">
                            <span class="text-danger text-small font-weight-semi-bold"
                                *ngIf="signUpForm.get('designationId').hasError(validation.type) && (signUpForm.get('designationId').touched || signUpForm.get('designationId').dirty)">
                                {{validation.message}}
                            </span>
                        </span>
                        <div class="ng-select mt-1">
                            <ng-select  bindLabel="name" formControlName="designationId">
                                <ng-option [value]="list.id" *ngFor="let list of designation" >
                                    {{list.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="form-group clear-margin-y p-4">
                    <label class="font-weight-bold">Address:
                        <span *ngFor="let validation of validationMessages.address">
                            <span class="text-danger font-weight-semi-bold"
                                *ngIf="signUpForm.get('location').hasError(validation.type) && (signUpForm.get('location').touched || signUpForm.get('location').dirty)">
                                {{validation.message}}
                            </span>
                        </span>
                    </label>
                    <input type="text" class="form-control input-md bg-white" formControlName="location">
                </div>
                <div class="p-4 mt-3">
                    <button class="btn text-white bg-accent-violet w-100" type="submit"
                        >Register</button>
                </div>
            </form>
        </div>
        <div class="mt-30 d-flex align-items-center">
            <div class="mx-auto d-flex">
                <p class="text-small">Already have an account?</p>
                <p class="text-small text-link ml-1" (click)="openLogin()"><u>Login</u></p>
            </div>
        </div>
    </div>
</div>